---
layout: default
title: Team Brookvale - Software Development for Enterprises
---

<div class="inner hero">
    <img src="/assets/images/hero.jpg">
    <div class="textblock">
        <h1>{{ site.data.text.home.herotitle }}</h1>
        <p>{{ site.data.text.home.herodescription }}</p>
        <button onclick="top.location.href = '/articles'">{{ site.data.text.home.readbuttontext}}</button><button onclick="top.location.href = '/contact'">{{ site.data.text.home.contactbuttontext}}</button>
    </div>
</div>

<div class="inner marketing">
    <div class="shadow bottom">
            <div class="flex">
                    <div class="centered">
                        <img src="/assets/images/image10.jpg" class="big">
                    </div>
                
                    <div class="text-container">
                        <h3>{{ site.data.text.home.marketingTitle }}</h3>
                        <p>{{ site.data.text.home.marketingDescriptionOne }}</p>
                        <p>{{ site.data.text.home.marketingDescriptionTwo }}</p>
                    </div>
            </div>
            <div class="flex">
                    <div class="text-container">
                        <h3>{{ site.data.text.home.automationTitle }}</h3>
                        <p>{{ site.data.text.home.automationDescriptionOne }}</p>
                        <p>{{ site.data.text.home.automationDescriptionTwo }}</p>
                    </div>
                    <div class="centered">
                            <img src="/assets/images/flow-chart.jpg" class="automation-image">
                    </div>
            </div>
    </div>
</div>
   
<div class="inner flex global">
    <div>
        <img src="/assets/images/global.svg">
        <h4>{{ site.data.text.home.globaltitle }}</h4>
        <p class="gray">{{ site.data.text.home.globaldescription }}</p>
    </div>
    <div>
        <img src="/assets/images/agile-2.svg">
        <h4>{{ site.data.text.home.agiletitle }}</h4>
        <p class="gray">{{ site.data.text.home.agiledescription }}</p>
    </div>
    <div>
        <img src="/assets/images/transparent.svg">
        <h4>{{ site.data.text.home.transparenttitle }}</h4>
        <p class="gray">{{ site.data.text.home.transparentdescription }}</p>
    </div>
</div>

<div class="inner video"><div><iframe width="" height="" src="https://www.youtube.com/embed/zkr7jMVO_Sw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>

<div class="inner articles">
    <h1>{{ site.data.text.home.articles }}</h1>
</div>
<div class="scrollcontainer" id="scroller">
{% assign sortedarticles = site.articles | sort: 'date' %}
{% assign articles = sortedarticles | reverse %}
{% for article in articles %}
    <div class="box" id="article{{ forloop.index }}">
        <div class="flex sb">
            <div class="text">
                <h3>{{ article.title }}</h3>
                <p class="gray">{{ article.leadhead }}</p>
                <a href="{{ article.url }}">Read more</a>
            </div>
            {% if article.image %}
                <div class="img block">
                        <img src="{{article.image}}" />
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
<div class="inner articles centered" style="font-size: 50px; margin-top: -30px">
    <a href="javascript: scrollSide(false)">&nbsp;&lt;&nbsp;</a>&nbsp;&nbsp;&nbsp;
    <a href="javascript: scrollSide(true)">&nbsp;&gt;&nbsp;</a>
</div>

<div class="inner services">
    <h1 class="onlymob">{{ site.data.text.home.services }}</h1>
    <div class="flex">
        <div class="centered">
            <img src="/assets/images/image12.jpg" class="big">
        </div>
        <div>
            <h1 class="nomob">{{ site.data.text.home.services }}</h1>
            <div class="flex">
                <div>
                    <h4><img src="/assets/images/enterprise.svg">{{ site.data.text.home.enterprisetitle }}</h4>
                    <p class="gray">{{ site.data.text.home.enterprisedescription }}</p>
                </div>
                <div>
                    <h4><img src="/assets/images/enterprise_2.svg">{{ site.data.text.home.mobileapptitle }} 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>          
                    <p class="gray">{{ site.data.text.home.mobileappdescription }}</p>
                </div>
            </div>
            
            <div class="flex">
                <div>
                    <h4><img src="/assets/images/iot.svg">{{ site.data.text.home.iottitle }}</h4>
                    <p class="gray">{{ site.data.text.home.iotdescription }}</p>
                </div>
                <div>
                    <h4><img src="/assets/images/strategy.svg">{{ site.data.text.home.mobilestrategytitle }}</h4>
                    <p class="gray">{{ site.data.text.home.mobilestrategydescription }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <div>
            <div class="flex">
                <div>
                    <h4><img src="/assets/images/review.svg">{{ site.data.text.home.codereviewtitle }}</h4>
                    <p class="gray">{{ site.data.text.home.codereviewdescription }}</p>
                </div>
                <div>
                    <h4><img src="/assets/images/api.svg">{{ site.data.text.home.apititle }}</h4>
                    <p class="gray">{{ site.data.text.home.apidescription }}</p>
                </div>
            </div>
            <div class="flex">
                <div>
                    <h4><img src="/assets/images/machine_learning.svg">{{ site.data.text.home.machinetitle }}</h4>
                    <p class="gray">{{ site.data.text.home.machinedescription }}</p>
                </div>
                <div>
                    <h4><img src="/assets/images/design.svg">{{ site.data.text.home.uxtitle }}</h4>          
                    <p class="gray">{{ site.data.text.home.uxdescription }}</p>
                </div>
            </div>
        </div>
        <div class="centered jumptop">
            <img src="/assets/images/image11.jpg" class="big">
        </div>
    </div>
</div>

<div class="inner technologies">
    <div>
        <h2 class="text-center">{{ site.data.text.home.techsupporttitle }}</h2>
    </div>
    <div>
        <img src="/assets/images/apple.png">
        <img src="/assets/images/android_.png">
        <img src="/assets/images/net_.png">
        <img src="/assets/images/win.png">
        <img src="/assets/images/unity.png">
        <img src="/assets/images/xamarin.png">
        <img src="/assets/images/ruby.png">
    </div>
</div>

<div class="projects">
    <div class="flex">
        <div>
            <h2>{{ site.data.text.home.doyouliketitle }}</h2>
            <p class="gray">{{ site.data.text.home.doyoulikedescription }}</p>
        </div>
        <div>
            <button onclick="top.location.href = '/contact'">{{ site.data.text.home.letsmakebuttontext}}</button>
        </div>
    </div>
</div>