// Larsseit Light
@font-face {
    font-family: 'Larsseit';
    src: url('/assets/fonts/Larsseit-Light.eot');
    src: url('/assets/fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Larsseit-Light.woff') format('woff'),
      url('/assets/fonts/Larsseit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  // Larsseit Regular
  @font-face {
    font-family: 'Larsseit';
    src: url('/assets/fonts/Larsseit.eot');
    src: url('/assets/fonts/Larsseit.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Larsseit.woff') format('woff'),
      url('/assets/fonts/Larsseit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // Larsseit Medium
  @font-face {
    font-family: 'Larsseit';
    src: url('/assets/fonts/Larsseit-Medium.eot');
    src: url('/assets/fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Larsseit-Medium.woff') format('woff'),
      url('/assets/fonts/Larsseit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  // Larsseit Bold
  @font-face {
    font-family: 'Larsseit';
    src: url('/assets/fonts/Larsseit-Bold.eot');
    src: url('/assets/fonts/Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Larsseit-Bold.woff') format('woff'),
      url('/assets/fonts/Larsseit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  ::-webkit-scrollbar               { width: 9px; height: 9px; overflow:visible }
  ::-webkit-scrollbar-button        { height: 0; width: 0}
  ::-webkit-scrollbar-track         { background-color: rgba(0, 0, 0, .01); border-width: 0; border-radius: 4.5px }
  ::-webkit-scrollbar-track:hover   { background-color: rgba(0, 0, 0, .01)}
  ::-webkit-scrollbar-track:active  { background-color: rgba(0, 0, 0, .01)}
  ::-webkit-scrollbar-thumb         { background-color: rgba(0, 0, 0, .3); background-clip: padding-box; border: solid transparent; border-width: 2px; min-height: 25px; padding: 100px 0 0; border-radius: 4.5px;}
  ::-webkit-scrollbar-thumb:hover   { background-color: rgba(0, 0, 0, .4) }
  ::-webkit-scrollbar-thumb:active  { background-color: rgba(0, 0, 0, .5) }
  ::-webkit-scrollbar-corner        { background: transparent }
  
  * {
      transition: all .35s cubic-bezier(.19, 1, .22, 1);
      -webkit-transition: all .35s cubic-bezier(.19, 1, .22, 1);
  }
  
  /* Box model fix for all BEGIN */
  html {
      box-sizing: border-box;
      height: 100%;
      overflow-y: scroll;
      font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* Box model fix for all END */
  html, body {
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  body {
      padding: 96px 0 150px 0;
      margin: 0;
      min-height: 100%;
      position: relative;
      background-color: white;
  }
  body, table, input, textarea, button {
      font-family: Larsseit;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      color: #000000;
  }
  h1 {
      margin-top: 0;
      font-size: 48px;
      font-weight: bold;
      line-height: 1.33;
  }
  
  h2 {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.25;
  }
  
  h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
  }
  
  h4 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.56;
      margin-bottom: 16px;
  }
  
  .mid {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.6;
  }
  
  h2.leadheadline {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.6;
      color: #F2A000;
      border-left: 2px solid #F2A000;
      padding-left: 20px;
      margin: 0 0 30px -20px;
  }
  article h2 {
      color: #F2A000;
  }
  
  .small {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.67;
      letter-spacing: 1.2px;
      text-transform: uppercase;
  }
  a, a:visited {
      color: #007AE5;
      text-decoration: none;
  }
  a:hover .hovu {
      text-decoration: underline;
  }
  a p {
      color: #000000
  }
  a:hover p {
      text-decoration: none
  }
  button {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      width: 240px;
      height: 48px;
      box-shadow: 0 4px 12px 0 rgba(0, 82, 153, 0.24);
      color: white;
      background-color: #007ae5;
      border-radius: 5px;
      border: 0;
      margin-right: 40px;
      cursor: pointer;
  }
  button:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 82, 153, 0.36);
  }
  button:active {
      background-color: #005DAE
  }
  
  :focus {
      outline: 0;
  }
  .flex {
      display: flex
  }
  .gray {
      color: #7A7A7A
  }
  .centered {
      text-align: center;
  }
  .lefted {
      text-align: left;
  }
  .clickable {
      cursor: pointer
  }
  .floleft {
      float: left
  }
  .hidden {
      display: none
  }
  .semibold {
      font-weight: 500;
  }
  .sb {
      justify-content: space-between;
  }
  .bluetext {
      color: #007AE5
  }
  .blueback {
      background-color: #007AE5
  }
  .clears {
      clear: both; width: 0 !important; height: 0 !important; line-height: 0 !important; overflow: hidden !important;
  }
  .clearfix {
      *zoom: 1;
  }
  .clearfix:after {
      clear: both;
      content: "";
      display: table;
  }
  .clamp3 {
      line-height: 28px;
      height: 84px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
  }