---
layout: default
---

<div class="inner hero">
    <img src="/assets/images/hero.jpg" alt="{{ site.data.text.home.herotitle }}">
    <div class="textblock">
        <h1>{{ page.technology }} Development Team in {{ page.location }}</h1>
        <p>We develop {{ page.technology }} solutions and provide digital platform engineering services worldwide.</p>
        <button onclick="top.location.href = '/articles'">{{ site.data.text.home.readbuttontext}}</button><button onclick="top.location.href = '/contact'">{{ site.data.text.home.contactbuttontext}}</button>
    </div>
</div>

<div class="inner marketing">
    <div class="shadow bottom">
            <div class="flex">
                    <div class="centered">
                        <img src="/assets/images/image10.jpg" alt="{{ site.data.text.home.marketingTitle }}" class="big">
                    </div>
                
                    <div class="text-container">
                        <h3>{{ site.data.text.nuix.nuixAutomationConsulting.header }}</h3>
                        <p>We build Automation Solutions through designing and implementing bespoke {{ page.technology }} software solutions and integrations.</p>
                    </div>
            </div>
            <div class="flex">
                    <div class="text-container">
                        <h3>{{ site.data.text.nuix.nuixAutomationSoftwareAndApiIntegration.header }}</h3>
                        <p>{{ site.data.text.nuix.nuixAutomationSoftwareAndApiIntegration.text }}</p>
                    </div>
                    <div class="centered">
                            <img src="/assets/images/flow-chart.jpg" alt="{{ site.data.text.home.automationTitle }}" class="automation-image">
                    </div>
            </div>
    </div>
</div>
   
<div class="inner flex global">
    <div>
        <img src="/assets/images/global.svg" alt="{{ site.data.text.home.globaltitle }}">
        <h4>{{ site.data.text.home.globaltitle }}</h4>
        <p class="gray">{{ site.data.text.home.globaldescription }}</p>
    </div>
    <div>
        <img src="/assets/images/agile-2.svg" alt="{{ site.data.text.home.agiletitle }}">
        <h4>{{ site.data.text.home.agiletitle }}</h4>
        <p class="gray">{{ site.data.text.home.agiledescription }}</p>
    </div>
    <div>
        <img src="/assets/images/transparent.svg" alt="{{ site.data.text.home.transparenttitle }}">
        <h4>{{ site.data.text.home.transparenttitle }}</h4>
        <p class="gray">{{ site.data.text.home.transparentdescription }}</p>
    </div>
</div>

<div class="inner clients">
        <div>
            <h2 class="text-center">Clients include</h2>
        </div>
        <div class="container logo-items">       
            <a href="https://www.allegion.com/corp/en/index.html" target="_blank"><img src="/assets/images/allegion_logo.png" alt="Allegion"></a>              
            <a href="https://www.gainsboroughhardware.com.au/en/home.html" target="_blank"><img src="/assets/images/gainsborough_logo.png" alt="Gainsborough"></a>
           <a href="https://www.uts.edu.au/" target="_blank"><img src="/assets/images/uts_logo.png" alt="UTS"></a>
           <a href="https://www.leonardodicaprio.org/" target="_blank"><img src="/assets/images/leonardo_logo.png" alt="Leonardo DiCaprio Foundation"></a>           
           <a href="https://campaigntrack.com.au/" target="_blank"><img src="/assets/images/campaigntrack_logo.png" alt="Campaigntrack"></a>
           <a href="https://www.nuix.com/" target="_blank"><img src="/assets/images/nuix_logo.png" alt="Nuix"></a>
           <a href="https://modular.hutchies.com.au/" target="_blank"><img src="/assets/images/hutchies_logo.png" alt="Hutchinson Modular"></a>
           <a href="https://myhealth.net.au/" target="_blank"><img src="/assets/images/myhealth_logo.png" alt="Myhealth"></a>
           <a href="https://www.sidley.com/en/global/" target="_blank"><img src="/assets/images/sidley_logo.png" alt="Sidley"></a>
        </div>
    </div>

<div class="inner certifications">
    <div>
        <h1 class="text-center">{{ site.data.text.home.certifications }}</h1>
    </div>
        <div class="container items">
            <a href="https://www.nuix.com/partners/team-brookvale/" target="_blank"><img src="/assets/images/nuix_certification.png" alt="Nuix"></a>
        </div>
</div>

<div class="inner technologies">
    <div>
        <h2 class="text-center">{{ site.data.text.home.techsupporttitle }}</h2>
    </div>
    <div>
        <img src="/assets/images/apple.png" alt="Apple, iOS">
        <img src="/assets/images/android_.png" alt="Android">
        <img src="/assets/images/net_.png" alt=".NET">
        <img src="/assets/images/win.png" alt="Windows">
        <img src="/assets/images/unity.png" alt="Unity">
        <img src="/assets/images/xamarin.png" alt="Xamarin">
        <img src="/assets/images/ruby.png" alt="Ruby">
    </div>
</div>

<div class="projects">
    <div class="flex">
        <div>
            <h2>{{ site.data.text.home.doyouliketitle }}</h2>
            <p class="gray">{{ site.data.text.home.doyoulikedescription }}</p>
        </div>
        <div>
            <button onclick="top.location.href = '/contact'">{{ site.data.text.home.letsmakebuttontext}}</button>
        </div>
    </div>
</div>