---
layout: default
---
<div class="articlespage">
    <div class="pagehero">
        <div class="inner flex sb">
            <div>
                <h1>{{ page.title }}</h1>
                <p style="margin-bottom: 50px">{{ page.leadtext }}</p>
                <img src="/assets/images/arrowdown.png">
            </div>
            <div class="pageheropic">
                <img src="/assets/images/abstract-architectural-design-architecture.webp" />
            </div>
        </div>
    </div>
    <div class="inner flex sb">
        <ul>
            {% comment %}
            {{ page.content }} is similar to a CSV file where the line end would be a semi-colon e.g.:
            Auckland,/landings/locations/auckland;
            Sydney,/landings/locations/sydney;
            {% endcomment %}

            {% assign text_to_link_arr = page.content | strip_html | strip_newlines | split: ";" %}
            {% for text_to_link in text_to_link_arr %}
                {% assign text_to_link_arr = text_to_link | split: "," %}
                {% assign text = text_to_link_arr[0] %}
                {% assign url = text_to_link_arr[1] %}
                <div>
                    <a href="{{ url }}">
                        <div class="text">
                            <div class="small hovu">
                                {{ text }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </ul>
    </div>
    <div class="projects">
        <hr>
        <div class="flex sb">
            <div>
                <h2>{{ site.data.text.home.doyouliketitle }}</h2>
                <p class="gray">{{ site.data.text.home.doyoulikedescription }}</p>
            </div>
            <div>
                <button onclick="top.location.href = '/contact'">{{ site.data.text.home.letsmakebuttontext}}</button>
            </div>
        </div>
    </div>
</div>